# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Brat Case.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Documents\Unity Projects\Brat Case\.idea\.idea.Brat Case\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
